<p>
    <span>@this.ModelName</span>
                    
    <button type="button" class="btn btn-sm @(this.IsActive ? "btn-success" : "btn-outline-secondary")"
            aria-label="Activate">
        <span class="oi oi-check"> Activate</span>
    </button>
    <button type="button" class="btn btn-sm btn-outline-danger"
            aria-label="Remove">
        <span class="oi oi-trash"> Delete</span>
    </button>
</p>