@using ConceptMaps.UI.Services

<h4>Start Training</h4>
<span>Select the training data which should be applied.</span>
<div>
    <ul class="list-group mb-3">
        @foreach (var trainingFile in this.TrainingDataManager.GetFiles(this.ModelType))
        {
            <li class="list-group-item">
                <nobr>
                    @if (this._selectedFiles.Contains(trainingFile))
                    {
                        <button class="btn btn-outline-success btn-sm mx-1" @onclick="() => this._selectedFiles.Remove(trainingFile)"><span class="oi oi-check"></span></button>
                    }
                    else
                    {
                        <button class="btn btn-outline-secondary btn-sm mx-1" @onclick="() => this._selectedFiles.Add(trainingFile)"><span class="oi oi-placeholder"></span></button>
                    }
                    <a class="btn btn-light btn-sm" href="@($"/{this.TrainingDataManager.SubFolder}/{this.ModelType.AsString()}/{Path.GetFileName(trainingFile)}")" title="Download" target="_blank">
                        <span class="oi oi-data-transfer-download"></span>
                    </a>
                    <button class="btn btn-light btn-sm" @onclick="() => this.DeleteFile(trainingFile)" title="Delete file"><span class="oi oi-basket"></span></button>
                    <span class="mx-1">@Path.GetFileName(trainingFile)</span>
                </nobr>
            </li>
        }
        <li class="list-group-item">
            <label for="import_data" role="button" class="dropdown-item"><span class="oi oi-data-transfer-upload"></span> Upload</label>
            <InputFile id="import_data" OnChange="LoadFilesAsync" style="display: none;" multiple></InputFile>
        </li>
    </ul>
    
    <button class="btn btn-primary" @onclick="@this.OnStartButtonClick" disabled="@(this._selectedFiles.Count == 0 || this._isStarting)">
        @if (this._isStarting)
        {
            <span class="spinner-border spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span> Starting ...</span>
        }
        else
        {
            <span class="oi oi-media-play"></span>
            <span> Start</span>
        }
    </button>
</div>