@using ConceptMaps.UI.Data
@using System.ComponentModel.DataAnnotations

@if (this.Uris is null)
{
    return;
}

@foreach (var uri in this.Uris)
{
    <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
            <button class="btn btn-warning btn-sm" type="button" onclick="@(() => OnRemoveClick(uri))" title="Remove"><span class="oi oi-minus"></span></button>
        </div>
        <InputText class="form-control" @bind-Value="@uri.UriString"></InputText>
    </div>
}

<div>
    <button class="btn btn-success btn-sm mb-1" type="button" onclick="@OnAddClick"><span class="oi oi-plus"></span> Add</button>
</div>

@code {
    /// <summary>
    /// Gets or sets the list of URIs which should be displayed in this component.
    /// </summary>
    [Parameter]
    [Required]
    public List<UriViewModel> Uris { get; set; }

    /// <summary>
    /// Gets or sets the default URI.
    /// </summary>
    [Parameter]
    [Required]
    public Uri DefaultUri { get; set; }

    /// <summary>
    /// Handles the click on the remove button for an URI.
    /// </summary>
    /// <param name="uri">The uri which should be removed.</param>
    private void OnRemoveClick(UriViewModel uri)
    {
        this.Uris.Remove(uri);
    }

    /// <summary>
    /// Handles the click on the add button. Adds a new URI to the list.
    /// </summary>
    private void OnAddClick()
    {
        this.Uris.Add(new UriViewModel(this.DefaultUri));
    }
}
