@inherits LayoutComponentBase

<PageTitle>ConceptMaps.UI</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/sven-n/concept-maps" target="_blank">Source</a>
            <a href="https://www.freepik.com/icon/learning_1879826" target="_blank" title="Icon by winnievinzence">Icon</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
