<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ConceptMaps.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crawler">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Data Retrieval
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prepare-data">
                <span class="oi oi-aperture" aria-hidden="true"></span> Data Preparation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="models">
                <span class="oi oi-lightbulb" aria-hidden="true"></span> Models
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Generate Map
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
