@page "/models"
@using ConceptMaps.UI.Data
@using ConceptMaps.UI.Components
@using ConceptMaps.UI.Services

<h3>Models</h3>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>NRT</h5>
            @foreach (var model in this.ModelProvider.NrtModels)
            {
                <Model ModelType="ModelType.Nrt" ModelName="@model"></Model>
            }
            
            <StartTraining ModelType="ModelType.Nrt" />
        </div>
        <div class="col-6">
            <h5>Relations</h5>
            @foreach (var model in this.ModelProvider.RelationsModels)
            {
                <Model ModelType="ModelType.Nrt" ModelName="@model"></Model>
            }
            
            <StartTraining ModelType="ModelType.Relation" />
        </div>
    </div>
</div>
