@page "/training"

@using ConceptMaps.UI.Components
@using ConceptMaps.UI.Services

<h3>Training</h3>

@if (this._relationTrainingStatus.State is null)
{
    <h2>
        <span class="spinner-border spinner-border" role="status" aria-hidden="true"></span>
        <span> Loading training status ...</span>
    </h2>
}
else
{
    <TrainingStatus ModelType="ModelType.Relation" Status="this._relationTrainingStatus"></TrainingStatus>
}
