# In dem ersten Segment liest der Crawler die Einstiegsseiten ein
[EntryPoints]
https://lotr.fandom.com/wiki/Category:Ring_bearers
https://lotr.fandom.com/wiki/Category:Villains
https://lotr.fandom.com/wiki/Category:The_Lord_of_the_Rings_Characters
https://lotr.fandom.com/wiki/Category:The_Hobbit_Characters
https://lotr.fandom.com/wiki/Category:The_Silmarillion_Characters
https://lotr.fandom.com/wiki/Category:Kings
https://lotr.fandom.com/wiki/Category:Queens

# Im nächsten Segment steht eine Basisadresse, mit denen die zu untersuchenden Links
# starten müssen.
[Base]
https://lotr.fandom.com/wiki/

# Nachfolgend können Seiten ausgeschlossen werden. Absolute und relative Pfade
# sind möglich - relative jedoch nur, wenn sie alleine noch keine gültige URI
# darstellen. Ein Doppelpunkt zwischen zwei Wörtern würde z.B. schon zu einer
# gültigen URI führen.
[BlockUris]
https://lotr.fandom.com/wiki/Category:Production
https://lotr.fandom.com/wiki/Special:AllPages
https://lotr.fandom.com/wiki/Special:AllMaps
https://lotr.fandom.com/wiki/Special:Community
Main_Page
New
Category:Books
Category:Reference_works
